.top-bar{
    float: right;
}

.ul li{
    list-style-type: none;
    display: inline;
}

.footer{
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: left;
}

.container{
    width: 500px;
    height: 500px;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
}