.top-bar{
    float: right;
}

.ul li{
    list-style-type: none;
    display: inline;
}
.logo{
    text-align: center;
}

.footer{
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: left;
}

.container{
    text-align: center;
}